
<html>
    <head>
        <title>YelpCamp</title>
        <!-- 匯入bootstrapcdn -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <style>

            img{
                /* border: 1px solid;  */
                
                height: 300px;
                width: 100%;
                padding-bottom: 25px;
            }
            .row{
                display: flex;
                text-align: center;
                /* border: 1px solid;   */
            }
            .form{
                text-align: center;
            }
            input,.form-group>button{
                width: 30%;
            }

        </style>
    </head>
    <body>


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">YelpCamp</a>
                </div>
                <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="" id="navbarNavDropdown">
                  <ul class="navbar-nav ">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Sign Up</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Logout</a>
                    </li>
                  </ul>
                </div>
            </div>
            
          </nav>