<%- include('partials/header') %>

<!-- 逐步讀取app.js值 -->

<div class="container">
    <header class="jumbotron">
        <h1>Welcome To YelpCamp!</h1>
        <p>view our hand-picked </p>
        <p >
            <a class="btn btn-primary btn-md" href="/campgrounds/new">Add new Campground</a>
        </p>
    </header>
    
    <div class="row">
        <%campgrounds.forEach(function(campground){%>
            <div class="col-lg-4 col-md-6">
                
                <div class="thumbnail">
                    <img src="<%= campground.img %>" alt="">
                    <div class="caption">
                        <h4 ><%= campground.name %></h4>
                    </div>
                </div>
                
            </div>    
        <%})%>
    </div>

<%- include('partials/footer') %>
</div>

